.hola{
    font-family:'Times New Roman', Times, serif;
    margin-top: 11%;
    font-size: 60px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.bon{
    background-color: rgb(255, 254, 254);
}

    